header{
  width: 100%;
  height: 100px;
  background: linear-gradient(rgb(17, 182, 91),rgb(167, 121, 21));
  text-align: center;
  display: block;
}
header p{
  line-height: 100px;
  font-size: 1.5em;
  color: azure;
}
p, a { margin: 0; padding: 0; color: black;}
ul,li {margin:0; padding:0;}
.login-div{
  display: flex;
  text-align: center;
  width: 80%;
  margin: auto;
}
.login-div div{
  width: 100%;
}
.login-input{
  margin: auto;
  width: 80%;
  line-height: 40px;
  margin-bottom: 10px;
  
}
.underLine{
  text-decoration: underline;
}
.bold{
  font-weight: bold;
}

.list {
  /* padding-left: 20px; */
  width: 83%;
  margin: auto;
  height: 50px;
  line-height: 50px;
  text-align: left;
  border-bottom: 1px solid gray;
  list-style-type: none;
}


.buttonBox{
  text-align: right;
  margin: auto;
  margin-top: 10px;

  width: 83%;
}

.buttonBox button{
  margin-left: 5px;
}

.writeBox{
  margin-top: 1em;
  width: 100%;
}

.writeBox form ,.writeBox > div{
  margin: auto;
  width: 80%;
}
.writeBox form input, .writeBox form textarea{
  width: 100%;
  margin-bottom: 1em;
}

.writeBox form input{
  line-height: 15px;
  font-size: 1.5em;
}

.writeBox form textarea{
  height: 300px;
  line-height: 15px;
  font-size: 1.4em;
}
